body{
    text-align: center;
    background-image: linear-gradient(#32e6e8 , #f7fba3);
    background-repeat: no-repeat;
}

#marqueeStyle{
    background-color:cornflowerblue;
    color: white;
}

.nav navbar-nav{
    background-color: black;
    color: white;
}

.navbar-brand{
    background-color: black;
    color: white;
}